# Data Science Tools and Ecosystems

In This notyebook, Data Science Tools and Ecosystems are summarized.

#Objectives:
* List popular languages for data science 
* List libraries used in data science 
* List data science tools used by data scientist 
* Know the arithmetic functions 
* Know how to mark down the headings

Some of the popular languages that Data Scientise use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientist include:

1. pandas
2. scikit
3. TensorFlow
4. Pytorch
5. matplotlib
6. seaborn
7. numPy

| Data Science Tools           |
|------------------------------|
| Jupyter Notebook.            |
| RStudio                      |
| VS Code                      |

### Below are a few examples of evaluating arithmatic expression in Python.

In [4]:
# This is a simple arithmetic expression to multipy  the add integers 
(3*4)+5

17

In [5]:
# this will convert 200 minutes to hours by diving by 60 
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

# Author
Abdullah Al Mamun